/* INTRODUCTION.CSS */
.introduction{
	display: table;
    
    width: 100%;
    height: 100%;
    
    text-align: center;    
    padding: 150px 0 0 0;
}

.intro-container{
    position: absolute;
    
    top: 150px;
    left: 0;
    right: 0;
	display: table-cell;
	vertical-align: top;
    
    line-height: 100px;
    
	text-align: center;
	color: #FFF;
}

.intro-content{
	margin-left: auto;
	margin-right: auto;
}

.intro-text{
	font-size: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.02em;
    font-weight: 400;
}

.intro-subtext{
	font-size: 20px;
	color: rgba(255,255,255,0.7);
}

.intro-image{
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media(min-width:720px) {
    .introduction{
        height: 100%;
    }
    
	.intro-text{
		font-size: 5.5vw;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	
	.intro-subtext{
		font-size: 3vw;
		color: rgba(255,255,255,0.7);
	}
	
	.intro-content{
		width: 50%;
	}
}